body{
    background-color: #fafafa;
    color: white;
}
header {
    background-image: linear-gradient(90deg, #ef6e03, #fd5880);
    margin-bottom: 30px;
}
.headerSuperior{
    display: flex;
    align-items: center;
    height: 132px;
}
header img:nth-child(1){
    margin-left: 26px;
}
header img:nth-child(3){
    margin-right: 26px;
}
header p{
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.containerBtn{
    display: flex;
    align-items: center;
    padding-bottom: 32px;
    margin-top: 10px;
}
.btn{
    margin-left: 10px;
    padding: 29px;
    border: 2px solid white;
    font-size: 20px;
    border-radius: 50px;
    font-weight: 500;
}

.btn:nth-child(1){
    background-color: white;
    color: #ef6e03;
}



.containerNomesLista{
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.nome{
    font-size: 20px;

    margin-bottom: 67px;
}
.imgNome{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.imgNome > span{
    display: flex;
    align-items: center;
}
.imgNome img{
    width: 36px;
    height: 36px;
    margin: 0px 13px 0px 26px;
}

.data{
    margin-right: 35px;
}
.nome > p{
    margin-left: 75px;
    padding: 10px 0px;
    font-size: 30px;
}
.nome span:nth-child(2){
    font-size: 20px;
    font-weight: 400;
}
.traco,
.traco2{
    width: 3px;
    height: 127px;
    background-color: hsla(0, 0%, 45%, 0.8);

    position: absolute;
    left: 43px;
    top: 324px;
}
.traco2{
    height: 30px;
    top: 260px;
}