@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}
html{
    background-color: rgb(143, 95, 5);
    height: 100vh;
}
body{
    width: 720px;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
footer{
    position: absolute;
    width: 720px;
    height: fit-content;
    bottom: 1px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 51px 58px;
    padding-top: 0px;
}