@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}
html{
    background-color: rgb(143, 5, 74);
}
body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 720px;
    min-height: 1450px;

    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

footer{
    width: 720px;
    height: 78px;
    margin-bottom: 56px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    padding: 0px 58px;
}
