:root{
    --colorDebug: rgba(255, 255, 255, 0);
}
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: Helvetica, sans-serif;
}
html{
    background-color: aliceblue;
}
body{
    background-color: #2b384b;
    max-width: 720px;
    height: 1520px;
    overflow-x: hidden;
}
header{
    padding: 36px;
    padding-bottom: 0px;
}
.containerIcons{
    width: 646px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 70px;

    background-color: var(--colorDebug);
    padding: 1px;
}




.containerAvatar{
    width: 646px;
    display: flex;
    margin-bottom: 48px;
    align-items: center;

    background-color: var(--colorDebug);
    padding: 1px;
}
.containerAvatar img{
    width: 100px;
    height: 100px;
}
.acessPerfil{
    margin-left: 23px;
    color: white;
}
.acessPerfil p:nth-child(1){
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 23px;
}
.acessPerfil p:nth-child(2){
    font-size: 16px;
}



main{
    padding-left: 36px;
}
.container1{
    display: flex;
    overflow-x: scroll;
}
::-webkit-scrollbar{
    height: 0px;
}
.containerSaldoIti{
    width: 481px;
    height: 167px;
    border-radius: 20px 20px 0px 0px;
    background-color: #38475c;
    padding: 37px 0px;
    color: white;
    margin-right: 20px;
}
.containerCoisaEstranha{
    display: flex;
}
.containerCoisaEstranha p{
    font-size: 16px;
    font-weight: bold;
}
.coisaEstranha{
    width: 10px;
    height: 45px;
    border-radius: 0px 8px 8px 0px;
    background-color: #ff5493;
    margin-right: 28px;
}

.containerSaldoReal{
    margin-left: 54px;
    margin-bottom: 50px;
}
.containerSaldoReal p{
    font-size: 38px;
    font-weight: bold;
}

.containerRendimentos{
    border-top: 1px solid #2b384b;
    width: 481px;
    height: 76px;
    border-radius: 0px 0px 20px 20px;
    background-color: #38475c;
    padding: 37px 35px;
    color: white;
    display: flex;
    align-items: center;
}