:root{
    --colorDebug: rgba(255, 255, 255, 0);
}
body{
    background-color: white;
}
header{
    padding: 36px;
    padding-bottom: 0px;
    background-color: #2b384b;
    border-bottom: 2px solid #2b384b;
}
.containerIcons{
    width: 646px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 70px;

    background-color: red;
    padding: 1px;
}




.containerAvatar{
    width: 646px;
    display: flex;
    padding-bottom: 48px;
    align-items: center;

    background-color: var(--colorDebug);
}
.containerAvatar img{
    width: 100px;
    height: 100px;
}
.acessPerfil{
    margin-left: 23px;
    color: white;
}
.acessPerfil p:nth-child(1){
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 23px;
}
.acessPerfil p:nth-child(2){
    font-size: 16px;
}



main{
    padding-left: 36px;
    background-color: #2b384b;
    border-bottom-left-radius: 60px;
    padding-bottom: 177px;
}

.container1,
.container2{
    display: flex;
    overflow-x: scroll;
}
.container1 > div{
    box-shadow: 0px 7px 14px rgb(0 0 0 / 16%);
    border-radius: 20px;
    margin-bottom: 50px;
    margin-right: 20px;

}
::-webkit-scrollbar{
    height: 0px;
}
.containerSaldoIti{
    width: 481px;
    height: 167px;
    border-radius: 20px 20px 0px 0px;
    background-color: #38475c;
    padding: 37px 0px;
    color: white;
}
.containerCoisaEstranha{
    display: flex;
}
.containerCoisaEstranha p{
    font-size: 16px;
    font-weight: bold;
}
.coisaEstranha{
    width: 10px;
    height: 45px;
    border-radius: 0px 8px 8px 0px;
    background-color: #ff5493;
    margin-right: 28px;
}

.containerSaldoReal{
    margin-left: 54px;
    margin-bottom: 50px;
}
.containerSaldoReal p{
    font-size: 38px;
    font-weight: bold;
}

.containerRendimentos{
    border-top: 1px solid #2b384b;
    width: 481px;
    height: 76px;
    border-radius: 0px 0px 20px 20px;
    background-color: #38475c;
    padding: 37px 35px;
    color: white;
    display: flex;
    align-items: center;
}



.container2{
    position: absolute;
    width: 684px;
}
.btnColorid{
    min-width: 193px;
    height: 219px;
    background-size: cover;
    margin-right: 26px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 26px;
    color: white;
    font-size: 20px;
}
.btn1{
    background-image: url(img/index/btnColocarDin.png);
}
.btn2{
    background-image: url(img/index/btnCartao.png);
}
.btn3{
    background-image: url(img/index/btnPix.png);
}
.btn4{
    background-image: url(img/index/btnPix.png);
}



.main2{
    margin: 0px 36px;
    color: #666;

}
.main2 > p{
    margin: 82px 0px 28px 0px;
}
.destaque,
.mundoIti{
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 7px 14px rgb(0 0 0 / 16%);

}
.containerTextDestaque{
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.containerTextDestaque p:nth-child(2){
    color: black;
    font-weight: bold;
}
.mundoIti{
    border-radius: 50px 0px 0px 50px;
    padding: 10px;
    justify-content: start;
    align-items: center;
    font-weight: bold;
    color: black;
}
.mundoIti img{
    border-radius: 50%;
    margin-right: 20px;
}
