*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: hsl(0, 0%, 98%);
    overflow-x: hidden;
    padding-bottom: 50px;
}

header{
    background-color: rgb(43, 56, 75);
    margin-bottom: -5px;

}
.containerIcons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.containerIcons img{
    width: 30px;
}


.containerPerfil{
    display: flex;
    align-items: center;
    padding: 20px;
}
.containerPerfil div{
    width: 100%;
    padding: 0px 20px;
    color: white;
}
.containerPerfil img{
    width: 60px;
}
.containerPerfil p:nth-child(1){
    font-weight: bold;
}
.containerPerfil p:nth-child(2){
    font-size: small;
    margin-top: 10px;
}


main{
    background-color: rgb(43, 56, 75);
    padding-bottom: 130px;
    border-radius: 0px 0px 0px 40px;
}
.containerSaldoIti{
    background-color: rgb(56,  71, 92);
    margin: 0px 20px;
    border-radius: 20px;
    color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    width: 70vw;

    font-size: small;
}
.containerSaldoIti > div:nth-child(1){
    padding: 20px 26px;
}
.containerSaldoIti > div:nth-child(1) > p{
    margin-bottom: 10px;
}
.containerSaldoIti > div:nth-child(1) > div p{
    font-weight: bold;
    margin-left: 10px;
    font-size: 1em;
}
.containerSaldoIti > div:nth-child(2){
    padding: 14px 26px;
    border-top: 1px solid rgba(43, 56, 75, 0.8);
}
.coisaEstranha{
    background-color: rgb(255, 84, 145);
    color: rgb(255, 84, 145);
    padding: 6px 2px;
    border-radius: 0px 5px 5px 0px;
    position: absolute;
    margin-left: -26px;
}


.containerBntColorid{
    display: flex;
    overflow: scroll;
    margin-top: 26px;
    position: absolute;
    padding-bottom: 14px;
    max-width: 100%;

}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}


.bntColorid{
    background-image: linear-gradient(134deg, rgb(238, 107, 16), rgb(251, 78, 127));
    margin-left: 16px;

    height: 130px;
    min-width: 120px;

    padding: 16px;
    color: white;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 16px;
    box-shadow: 0px 5px 10px hsla(0, 0%, 0%, 0.2);
}


.destaques{
    margin: 50px 20px 20px 20px;
    font-size: small;
    font-weight: normal;
    color: #666;
}
.destaques img{
    height: 120px;
}
.destaques > div{
    background-color: white;
    box-shadow: 0px 5px 10px hsla(0, 0%, 0%, 0.2);
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    font-size: small;

}
.destaques span{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.destaques  span p:nth-child(2){
    color: black;
}
.destaques > div p:nth-child(1){
    font-weight: lighter;
}



.mundoIti{
    margin: 30px 20px 20px 20px;
    font-size: small;
    font-weight: normal;
    color: #666;

}
.mundoIti > div{
    background-color: white;
    box-shadow: 0px 5px 10px hsla(0, 0%, 0%, 0.2);
    margin: 20px 0px;
    border-radius: 50px 20px 20px 50px;
    display: flex;
    overflow: hidden;
    padding: 10px;
    align-items: center;
    color: black;
}
.mundoIti  img{
    border-radius: 50%;
    margin-right: 20px;
    width: 50px;
}